* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccion{
    margin-bottom: 60px;
}

.topLibros{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'Georgia', serif;
}

.tituloLibro{
    font-size: 24px;
    margin-bottom: 10px;
    color: #61a6ab;
    font-family: 'Georgia', serif;
}

.topLibrosArticulos{
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 150px;
}


.libroDescripcion{
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.imagenLibro{
    border-radius: 5px;
    border: 1px solid #a4a4a4;
}
