* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

.contactanosMain{
    background-color: #fff;
    max-width: 600px;
    margin: 30px auto;
    padding: 10px 0px;
    border-radius: 15px;
}

.contactanosH1{
    color: #61a6ab;
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
    background-color: #fff;
    border-radius: 15px;
}

div{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

input{
    height: 30px;
}

input, textarea{
    width: 300px;
    border-radius: 5px;
    border: 1px solid #969696;
}

textarea{
    resize: vertical;
    height: 100px;
}

button{
    width: 100px;
    height: 35px;
    background-color: #61a6ab;
    color: #fafafa;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.errorP{
    color: red;
    margin-bottom: 10px;
}

.datosEnviadosDivFinal{
    background-color: #fff;
    max-width: 600px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.datosEnviadosH3Final{
    color: #61a6ab;
    margin-bottom: 10px;
}

.datosEnviadosUlFinal{
    list-style-type: none;
}

.datosEnviadosUlFinal li{
    margin-bottom: 8px;
}
