.headerGeneral{
    background-color: #291b25;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

#imgLogo {
    max-width: 200px;
    height: auto;
}

.navHeader .ulHeader {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 20px;
}

.navHeader .ulHeader .liHeader {
    text-decoration: none !important;
    list-style: none !important;
}

.navHeader .ulHeader .liHeader .aHeader {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #f6f6e9;
    padding: 10px;
    text-decoration: none;
}