* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}


.container {
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
}

.bienvenida {
    background-color: #e2e2e2;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: #333;
}

.carrousel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 20px;
}

.carrousel img {
    width: 300px;
    height: 450px;
    border-radius: 10px;
}

.carrousel button {
    background-color: #333;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.carrousel button:hover {
    background-color: #555;
}
