* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}


.container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.bienvenida {
    background-color: #ffffff;
    border-radius: 8px;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    max-width: 800px;
    height: 80px;
    text-align: center;
    align-content: center;
}

.portada {
    width: 100%;
    height: 300px; /* ajustá la altura según necesites */
    background-image: url("../recursos/fondo.png");
    background-repeat: repeat-x; /* se repite horizontalmente */
    background-position: bottom; /* opcional, la alinea abajo */
    border-bottom: 1px solid #ccc;
    background-color: #291b25;
}

a {
    text-decoration: none;
    color: #333;
}

.carrousel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 20px;
    margin-bottom: 60px;
}

.carrousel .imagenCarrousel {
    width: 300px;
    height: 450px;
    border-radius: 10px;
}

.carrousel button {
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
}

.flechas {
    width: 90px;
    height: 90px;

}

.topH4 {
    margin-top: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: #61a6ab;
}

.sobreNosotros {
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    max-width: 800px;
    text-align: center;
    margin-bottom: 120px;
}

.sobreNosotrosH2 {
    color: #61a6ab;
}